[Unit]
Description=librephotos-worker
Documentation=https://github.com/LibrePhotos/librephotos

After=network.target

# case when PostgreSQL is on localhost
# After=network.target postgresql.service
# Requires=postgresql.service

[Service]
User=librephotos
Group=librephotos 
EnvironmentFile=/etc/librephotos/librephotos-backend.env
ExecStart=/usr/lib/librephotos/bin/librephotos-worker
WorkingDirectory=/usr/lib/librephotos/backend

[Install]
WantedBy=multi-user.target
